.memeContainer{
    position: relative;
    max-width: 600px;
    margin: auto;
}

img{
    display: block;
    width: 100%;
    margin: auto;
}

.upperText, .lowerText{
    position: absolute;
    max-width: 550px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5dsdsrem;
    font-weight: bold;
    text-shadow: 3px 3px 1px black;
    overflow-wrap: break-word;
}

.upperText{
    top: 2rem
}

.lowerText{
    bottom: 2rem
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.form > * {
    margin: .5rem
}

input{
    width: 20%;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
    transition: all 0.2s ease-out;
}

button, input {
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 20rem;
    padding: 1rem;
    text-shadow: 1px 1px 0 #fff;
    background-color: #ebecf0
}

input:focus{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px #fff ;
}

button{
    width: 20%;
    font-weight: bold;
    box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
    transition: all .2s ease-in-out;
    cursor: pointer;    
}

button:hover{
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active{
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff
}
